img {
  width: 500px;
}

body {
  margin: 0;
}

.carousel {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.content {
  align-self: center;
  width: 500px;
  overflow: hidden;
}

header, footer {
  background-color: blue;
}