img {
  width: 500px;
}

body {
  margin: 0;
}

.carousel {
  display: flex;
  transition: transform 300ms ease-in-out;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.content {
  align-self: center;
  width: 500px;
  overflow: hidden;
}

.prev {
  position: fixed;
  top: 50%;
  right: 70%;
  z-index: 50;
}

.next {
  position: fixed;
  top: 50%;
  left: 70%;
  z-index: 50;
}


.bullet-points {
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.bullet-points button {
  padding: 15px;
  border-radius: 50%;
}

header, footer {
  background-color: blue;
}